@import "./../../styles/variable.scss";

table {
  width: -webkit-fill-available;

  tr:nth-child(odd) {
    background-color: $odd-row;
  }
  th {
    color: $border-dark;
    font-size: 14px;
    background-color: $even-row;
  }
  td {
    padding: 5px;
  }
}

.b-bottom {
  justify-content: space-between;
  border-bottom: 1px solid $odd-row;
}
