<div class="container text-center d-flex flex-column" style="width: fit-content; margin-top: 100px;">
  <form [formGroup]="loginForm" class="form-signin d-flex flex-column" (ngSubmit)="loginBtnClick()" autocomplete="off">
    <h1 class="h3 mb-3 font-weight-normal">Aplikacja pieprzyki - logowanie</h1>
    <mat-form-field class="mt-2 example-full-width">
      <label for="inputLogin" class="sr-only">Login </label>
      <input matInput type="login" id="inputLogin" class="form-control" formControlName="login" placeholder="Login "
        required="" autofocus="" class="m-2" />
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <label for="inputPassword" class="sr-only">Hasło</label>
      <input matInput type="password" id="inputPassword" class="form-control" placeholder="Hasło"
        formControlName="password" required="" class="m-2" />
    </mat-form-field>

    <button mat-button class="btn btn-lg btn-primary btn-block m-2" type="submit" (click)="loginBtnClick()">
      Zaloguj
    </button>
    <button mat-button class="btn btn-lg btn-primary btn-block m-2" (click)="registerBtnClick()">
      Zarejestruj się
    </button>
  </form>
</div>
