@font-face {
  font-family: '72-Black';
  src: url('/assets/fonts/72-Black.ttf') format('opentype');
}

@font-face {
  font-family: '72-Bold';
  src: url('/assets/fonts/72-Bold.ttf') format('opentype');
}

@font-face {
  font-family: '72-BoldItalic';
  src: url('/assets/fonts/72-BoldItalic.ttf') format('opentype');
}

@font-face {
  font-family: '72-Condensed';
  src: url('/assets/fonts/72-Condensed.ttf') format('opentype');
}

@font-face {
  font-family: '72-CondensedBold';
  src: url('/assets/fonts/72-CondensedBold.ttf') format('opentype');
}

@font-face {
  font-family: '72-Italic';
  src: url('/assets/fonts/72-Italic.ttf') format('opentype');
}

@font-face {
  font-family: '72-Light';
  src: url('/assets/fonts/72-Light.ttf') format('opentype');
}

@font-face {
  font-family: '72-Regular';
  src: url('/assets/fonts/72-Regular.ttf') format('opentype');
}

