//main
$white: #ffffff;
$header-label: #5E696E;
$primary-color: #427cac;
$bg-gray-color: #F6F7F7;
$bg-blue-color: #2D92E6;
$bg-orange-color: #E78C07;
$error-color: #BB0000;
$bg-dark-gray-color: #5D5D5D;
$border-gray: #E9E9E9;
$green-light: #94DB94;
$green-dark: #2B7D2B;
$green-bg: #b2ffb2;
$bg-light-orange: #FFE4BC;

//components
$blue-btn: #3786C7;
$modal-footer: #ECEDED;
$validation-label: #E78C07;
$scroll-color: #3F5161;
$active-label: #3F5161;
$header-font-color: #3f5161;
$bg-blue: #2D92E6;
$border:#CDCDCD;

//grid
$icon-up: #91C8F6;
$icon-down: #3F5161;
$sort-icon: #427CAC;
$border-dark:#5E696E;
$border-light:#CDCDCD;
$grid-bg: #ECEDED;
$last-col-color:#EFF1F2;
$odd-row:rgb(224, 224, 224, 0.233);
$even-row: rgba(230, 96, 13, 0.035);

//icons
$gray-icon: #D5D5D5;
$disabled-icon:#F6F7F7;
$close-icon-color:#d5d5d5;
